.keypad {
  max-width: 500px;
  margin: 20px auto;
  color: #FAFAFA;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  transition: color 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

/* Estilos para las filas del teclado */
.keypad-row {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

/* Estilos para los cuadrados normales de letras */
.keypad-row > div {
  margin: 3px;
  width: 40px;
  height: 50px;
  background: #3F4752;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: background 0.3s ease;
  text-align: center;
}

.keypad-row > div:hover {
  background: #5A6472;
  cursor: pointer;
}

.keypad-row > div.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad-row > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad-row > div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
}

/* Estilos específicos para botones especiales */
.keypad-special {
  margin: 3px;
  height: 50px;
  background: #3F4752;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: background 0.3s ease;
  text-align: center;
  font-size: 0.7em;
  width: 83px; /* BACKSPACE */
}

.keypad-special.keypad-enter {
  width: 84px; /* ENTER */
}
.keypad-special.keypad-backspace {
  width: 84px;
}

.keypad-special:hover {
  background: #5A6472;
  cursor: pointer;
}

/* Media queries para responsividad en móviles */
@media (max-width: 600px) {
  .keypad-special {
    width: 70px;
    font-size: 0.6em;
  }
  
  .keypad-special.keypad-enter {
    width: 71px;
  }
}


@media (max-width: 620px) {
  .keypad-row > div {
    width: 35px;
    height: 35px;
    font-size: 0.7em;
    margin: 1px;
  }
  
  .keypad-special {
    width: 42px;
    height: 35px;
    font-size: 0.45em;
    margin: 1px;
  }
  
  .keypad-special.keypad-enter {
    width: 43px;
  }

    .keypad-special.keypad-backspace {
    width: 35px;
  }
}
